*.identcache
*.dproj.local
*.groupproj.local
*.stat
*.dsk
*.~dsk
*.drc
*.map
*.exe
*.dll
*.pdf
*.txt
*.cfg
*.tvsconfig
**\_history
**\_recovery
!Setup\ssleay32.dll
!Setup\libeay32.dll
!Setup\openssl.exe
!Setup\OpenSSL License.txt
ATSWebDev\bin\Management\bin
TraceFileExport
Win32
Win64
SignedUninstaller
Output
#ConfigServer\ConfigServerConsole\Win32
#ConfigServer\ConfigServerConsole\Win64
#ConfigServer\ConfigServerManager\Win32
#ConfigServer\ConfigServerManager\Win64
#ConfigServer\ConfigServerSvc\Win32
#ConfigServer\ConfigServerSvc\Win64
#ConfigServer\LicenceGenerator\Win32
#ConfigServer\LicenceGenerator\Win64